/* Estilos gerais para o body e tabela */
body {
    /* Fundo gradiente para o body */
    background-color: #D7BBF5;
    font-family: 'Nu Kei', sans-serif;
    width: 100vw;
    height: 100vh;
    padding-top: 8vw;
    padding-right: 5vw;
    padding-left: 5vw;
                                                                                                    
}
.text-center{
    font-size: 3vw;
}
table {
    /* Estilos para a tabela */
    width: 10%;
    margin: auto;
}
.btn-info{
background-color: #ffffff;
border-color: transparent;
}
dl {
    /* Alinhamento central para a descrição */
    text-align: center;
}

td,
th,
tr {
    /* Estilos para as células da tabela */
    border: 2px solid transparent;
    text-align: center;
    background-color: #EDE4FF;
    height: 5vw;
    padding-bottom: 3vw;
    font-size: 15px;
}

/* Estilos para a logo */
.logo {
    /* Estilos para a logo */
    margin-top: 1%;
    width: 10%;
    height: 10%;
}

/* Estilos para os botões e modal novo cliente */
#modalNovoAluno button,
#btnNovoAluno {
    /* Estilos para os botões e o botão Novo Cliente */
    background-color: #ffffff;
    color: #000;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

#modalNovoAluno button:hover,
#btnNovoAluno:hover {
    /* Efeito hover para os botões e o botão Novo Cliente */
    background-color: #D7BBF5;
}

/* Estilos para o modal */
.modal {
    /* Estilos gerais para o modal */
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.4);
}

/* Estilos para o conteúdo do modal de informações do cliente */
#myModal .modal-content {
    /* Estilos para o conteúdo do modal de informações do cliente */
    position: fixed;
    background-color: #fff2f2;
    width: 100%;
}

/* Estilos para o conteúdo do modal de novo cliente */
#modalNovoAluno .modal-content-novo-aluno {
    /* Estilos para o conteúdo do modal de novo cliente */
    position: fixed;
    top: 0;
    background-color: #fefefe;
    width: 100%;
}

/* Estilos para o botão Fechar */
.close {
    /* Estilos para o botão Fechar */
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    /* Efeito hover para o botão Fechar */
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para o cabeçalho, corpo e rodapé do modal */
.modal-header,
.modal-body,
.modal-footer {
    /* Estilos para o cabeçalho, corpo e rodapé do modal */
    padding: 2px 16px;
    background-color: #9eb69e;
    color: white;
}

/* Adicionar Animação */
@-webkit-keyframes slideIn {

    /* Animação de slideIn para o modal */
    from {
        bottom: -300px;
        opacity: 0;
    }

    to {
        bottom: 0;
        opacity: 1;
    }
}

@keyframes slideIn {

    /* Animação de slideIn para o modal */
    from {
        bottom: -300px;
        opacity: 0;
    }

    to {
        bottom: 0;
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {

    /* Animação de fadeIn para o modal */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {

    /* Animação de fadeIn para o modal */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}